<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
<div ng-app="myApp" ng-controller="myCtrl" >
    <div class="container" >
        Search
        <p><input type="text" ng-model="test" style="background-color: white;color: black;font-family: 'Gotham Pro',sans-serif"></p>
        <br>
        <p>Also you can sort it by clicking on FirstName field</p>
        <table class="table">
            <thead>
            <tr>
                <th ng-click="orderByMe('name')">Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Date</th>
                <th>Procedure</th>
                <th>Doctor</th>
                <th>Number</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items.data | filter:test | orderBy:myOrderBy">
                <td>{{item.name}}</td>
                <td>{{item.surname}}</td>
                <td>{{item.mail}}</td>
                <td>{{item.date}}</td>
                <td>{{item.procedure}}</td>
                <td>{{item.doctor}}</td>
                <td>{{item.number}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope,   $http) {
        $scope.orderByMe = function(x) {
            $scope.myOrderBy = x;
        };
        $http({
            method : "GET",
            url : "http://localhost:3334/patient"
        }).then(function mySucces(data) {
            $scope.items = angular.fromJson(data);
            console.info( $scope.items);

        });
    });
</script>
</body>
</html>
