<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="controllers.js"></script>
<script src="node_modules/angularjs-datepicker/dist/angular-datepicker.js"></script>
<link href="node_modules/angularjs-datepicker/dist/angular-datepicker.css" rel="stylesheet" type="text/css" />

<body ng-app="myApp" style="font-family: 'Gotham Pro',sans-serif">
        <form name="myForm" novalidate>
            <div ng-controller="myJsonctrl">
                <div class="container" style="border: double">
                    <p style="text-align: center">Dentist Booking form</p>
                    <div class="form" style="margin-left: 25%">
                    <div class="row">
                        <div class="col-md-5">
                            <p> Procedure:</p>
                        </div>
                        <div class="col-md-5">
                        <select class="form-control" ng-model="procedure"
                                ng-options="option.name as option.procedure for option in json.data" style="width: 50%">
                            <option  ></option>
                        </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5">
                            <p> Doctor:</p>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control" ng-model="doctor"
                                    ng-options="option.name for option in json.data | filter:{name:procedure}"  style="width: 50%" >
                                <option ></option>
                            </select>
                        </div>
                    </div>
                    <hr style="background-color: black;color: black">
                    <div class="row">
                        <div class="col-md-5">
                            <p>Select Date</p>
                        </div>
                        <div class="col-md-5">
                    <datepicker>
                            <input type="text" ng-model="date" style="background-color: white;border-radius: 8px">
                    </datepicker>
                        </div>
                    </div>
                <br>
                    <div class="row">
                        <div class="col-md-5">
                            <p>Name</p>
                        </div>
                        <div class="col-md-5">
        <label>
            <input type="text" ng-minlength="1" required  placeholder="Name" style="background-color: white;border-radius: 111px;text-align: center" ng-model="name">
        </label>
                        </div>
                    </div>
        <br>
                    <div class="row">
                        <div class="col-md-5">
                            <p>Surname</p>
                        </div>
                        <div class="col-md-5">
                            <label>
                                <input type="text" ng-minlength="1" required placeholder="Surname" style="background-color: white;border-radius: 111px;text-align: center" ng-model="lastname">
                            </label>
                        </div>

                    </div>
        <br>
                    <div class="row">
                        <div class="col-md-5">
                        <p>Phone Number</p>
                        </div>
                        <div class="col-md-5">
        <label>
            <input type="text" ng-minlength="1" required  placeholder="Phone Number" style="background-color: white;border-radius: 111px;text-align: center" ng-model="phone">
        </label>
                    </div>
                    </div>
        <br>
                    <div class="row">
                        <div class="col-md-5">
                            <p>Email</p>
                        </div>
                        <div class="col-md-5">
                        <label>
                            <input type="text" ng-minlength="1" required  placeholder="Email " style="background-color: white;border-radius: 111px;text-align: center" ng-model="mail">
                        </label>
                            <br>
                            <input class="button " style="color: white" type="submit" name="submit" value="Send Request " ng-disabled="myForm.$invalid" ng-click="login()">
                        </div>
                    </div>
        <br>
        <br>
            <br>
            </div>
                </div>
            </div>
        </form>
</body>
</html>